html,

* {
    margin: 0;
    padding: 0;
}

header {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 0px;
    right: 0px;
    left: 0px;
}

header img {
    width: 900px;
    margin: 0 auto;
    display: block;
    padding: absolute;
}

header p {
    color: #fff;
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    font-family: "Futura";
    padding: absolute;
}

.title {
    top: 50%;
    transform: translateY(100%)
}

.bg-slider {
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    align-items: center;
}

.bg-slider__title {
    color: #fff;
    font-size: 48px;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
}

nav ul {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 55px;
}

nav li {
    display: inline-block;
    margin-right: 25px;
    margin-top: 30px;
    list-style-type: none;
    font-family: "Futura";
    font-size: 28px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

nav a:hover {
    color: #3d5cdb;
}

body {
    width: 100%;
    background-size: cover;
    position: relative;

}

body h2 {
    text-align: center;
    font-size: 50px;
    color: #3d5cdb;
    font-family: "Futura";
    font-weight: lighter;
    padding-top: 50px;
}

.introduction {
    width: 1040px;
    margin: 0 auto;
    padding: 25px;
}

.introduction p {
    line-height: 30px;
}

.introduction a {
    font-weight: bold;
}

.introduction a:hover {
    box-shadow: 3px 3px 10px 3px #c0c0c0;
}

.intro1 {
    height: 422px;
    margin-top: 80px;
    text-align: center;
}

.intro1 img {
    float: left;
    margin-right: 40px;
}

.intro1 p {
    width: 420px;
    height: 215px;
    overflow: hidden;
    margin: 40px;
    padding-left: 40px;
    text-align: left;
}

.intro1 a {
    width: 130px;
    height: 30px;
    text-decoration: none;
    border: 0px solid #3d5cde;
    border-radius: 12px;
    padding: 10px 43px;
    color: #fff;
    background-color: #3d5cde;
    display: block;
    margin: 30px 130px 30px auto;
    text-align: center;
    font-size: 22px;
}

.intro2 {
    height: 422px;
    padding: 25px;
}

.intro2 p {
    width: 400px;
    height: 185px;
    margin: 50px;
    letter-spacing: -1.52px;
}

.intro_image2 {
    overflow: hidden;
    margin: 25px;
}

.intro2 a {
    width: 130px;
    height: 30px;
    text-decoration: none;
    border: 0px solid #ffbf00;
    border-radius: 12px;
    padding: 10px 43px;
    color: #fff;
    background-color: #ffbf00;
    text-align: center;
    display: block;
    margin: 30px auto;
    font-size: 22px;
}

.intro2-1 {
    float: left;
}

.course {
    background-color: rgba(186, 213, 245, 0.6);
    width: 100vw;
/*    height: 100vh;*/
    position: relative;
    z-index: -1;
}

.course p {
    font-weight: bold;
}

.course a {
    text-decoration: none;
    padding: 13px 30px;
    border-style: 0px solid;
    border-radius: 12px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 265px;
    right: 20px;
}

.course a:hover {
    box-shadow: 5px 5px 10px #c0c0c0;
}

.course ul {
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.course li {
    list-style-type: none;
    display: block;
    box-shadow: 1px 1px 3px 1px #c0c0c0;
}

.course img {
    height: 160px;
    margin: 30px;
}


.element {
    width: 240px;
    height: 340px;
    background-color: #fff;
    border-radius: 10px;
    margin: 30px 20px;
    text-align: center;
    position: relative;
}

#particles-js {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    z-index: -1;
}

/*
#course canvas {
    position: absolute;
    top: 0px;
    left: 0px;
}
*/

#html a {
    background-color: #ff773e;
}

#html img {
    width: 100px;
    height: 140px;
}

#css a {
    background-color: #00bfff;
}

#css img {
    width: 100px;
    height: 140px;
}

#unity a {
    background-color: #222;
}

#unity img {
    width: 100px;
    height: 100px;
    padding: 25px;
}

#ruby a {
    background-color: #ed5f59;
}

#ruby img {
    width: 100px;
    height: 100px;
    padding: 25px;
}

#js a {
    background-color: #fc3;
}

#js img {
    width: 100px;
    height: 140px;
}

#swift a {
    background-color: #f66;
}

#swift img {
    width: 100px;
    height: 88px;
    padding: 25px;
}

#go a {
    background-color: #6cc;
}

#go img {
    width: 100px;
    height: 100px;
    padding: 25px;
}

.images {
    position: relative;
}

.slick-list {
    overflow: hidden;
}

.slider {
    margin: 100px auto;
    width: 80%;
    position: relative;
    z-index: 100;
}

/*.slider li {*/
/*    list-style-type: none;*/
/*}*/

.slider img {
    height: auto;
    /*    width: 337px;*/
    width: 100%;
}

/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}

.slick-prev{
            left: calc((100vw - 300px) / 2);
            z-index: 100;
            
        }
/*        :before,*/
        
.slick-next{
            right: calc((100vw - 300px) / 2);
            z-index: 99;
            color: #000;
        }
/*        :before*/
            
        
.slick-dots{
/*          height: 25px;*/
        display: flex;
/*        list-style: none;*/
        }

.access {
    text-align: center;
}

iframe {
    margin-bottom: 45px;
}

footer {
    text-align: center;
    color: #3d5cdb;
    margin: 20px 0px;
    font-family: "Futura";
}
