html,

header {
    background-image: url(images/background2.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 0px;
    right: 0px;
}

header img {
    width: 900px;
    margin: 0 auto;
    display: block;
    padding: absolute;
    top: 50%;
    transform: translateY(100%)
}

header p {
    color: #fff;
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    font-family: "Futura";
    padding: absolute;
    top: 50%;
    transform: translateY(100%)
}

.bg-slider {
	width: 100vw;
	height: 100vh;
	background-position:center center;
	background-size: cover;
	align-items: center;
}
.bg-slider__title{
	color: #fff;
	font-size: 48px;
	line-height: 1.5;
	font-weight: bold;
	text-align:center;
	text-shadow: 1px 1px 1px #000;
}

nav ul{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 55px;
}

nav li {
  display: inline-block;
  margin-right: 30px;
  margin-top: 30px;
  list-style-type: none;
  font-family: "Futura";
  font-size: 25px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

body {
  width: 100%;
  background-size: cover;
  position: relative;
}

body h2 {
    text-align: center;
    font-size: 50px;
    color: #3d5cdb;
    font-family: "Futura";
    font-weight: lighter;
}

.introduction {
    width: 1040px;
    margin: 0 auto;
}

.introduction p {
    line-height: 30px;
}

.introduction a {
    font-weight: bold;
}

.introduction a:hover{
    box-shadow: 5px 5px 10px #c0c0c0;
}

.intro1 {
    height: 422px;
    margin-top: 80px;
    text-align: center;
}

.intro1 img {
    float: left;
    margin-right: 40px;
}

.intro1 p {
    width: 420px;
    height: 215px;
    overflow: hidden;
    margin: 40px;
    padding-left: 40px;
    text-align: left;
}

.intro1 a{
    text-decoration: none;
    border: 0px solid #3d5cde;
    border-radius: 12px;
    padding: 10px 43px;
    color: #fff;
    background-color: #3d5cde;
}

.intro2 {
    height: 422px;
    text-align: center;
    float: left;
}

.intro2 img {
    overflow: hidden;
    margin: 40px;
}

.intro2 p{
    width: 400px;
    height: 185px;
    margin: 40px 90px 40px 40px;
    text-align: left;
    font-size: 14px;
}

.intro2 a{
    text-decoration: none;
    border: 5px solid #ffbf00;
    border-radius: 12px;
    padding: 5px 38px;
    color: #fff;
    background-color: #ffbf00;
}

.course {
    background-color: #d7eeff;
    height: 940px;
}

.course p {
    font-weight: bold;
}

.course a {
    text-decoration: none;
    padding: 13px 30px;
    border-style: 0px solid;
    border-radius: 12px;
    color: #fff;
    font-weight: bold;
}

.course a:hover{
    box-shadow: 5px 5px 10px #c0c0c0;
}

.course img {
    width: 110px;
    margin: 30px;
}

.html {
    width: 240px;
    height: 340px;
    background-color: #fff;
    border-radius: 10px;
    margin: 30px 20px;
    text-align: center;
    float: left;
}

.css {
    width: 240px;
    height: 340px;
    background-color: #fff;
    border-radius: 10px;
    margin: 30px 20px;
    text-align: center;
    overflow: hidden;
    float: left;
}

.unity {
    width: 240px;
    height: 340px;
    background-color: #fff;
    border-radius: 10px;
    margin: 30px 20px;
    text-align: center;
    overflow: hidden;
    float: left;
}

.ruby {
    width: 240px;
    height: 340px;
    background-color: #fff;
    border-radius: 10px;
    margin: 30px 20px;
    text-align: center;
    overflow: hidden;
}

.js {
    width: 240px;
    height: 340px;
    background-color: #fff;
    border-radius: 10px;
    margin: 30px 20px;
    text-align: center;
    float: left;
}

.swift {
    width: 240px;
    height: 340px;
    background-color: #fff;
    border-radius: 10px;
    margin: 30px 20px;
    text-align: center;
    float: left;
    overflow: hidden;
}

.go {
    width: 240px;
    height: 340px;
    background-color: #fff;
    border-radius: 10px;
    margin: 30px 20px;
    text-align: center;
    overflow: hidden;
    float: left;
}

.html a {
    background-color: #ff773e;
}

.css a {
    background-color: #00bfff;
}

.unity a {
    background-color: #222;
}

.ruby a {
    background-color: #f00;
}

.js a {
    background-color: #fc3;
}

.swift a {
    background-color: #f66;
}

.go a {
    background-color: #6cc;
}

.access {
    text-align: center;
}

iframe {
    margin-bottom: 45px;
}

footer {
    text-align: center;
    color: #3d5cdb;
    margin: 20px 0px;
    font-family: "Futura";
}